#landing .text-area{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#landing .scroll-down svg{
    animation: scroll-down infinite 1.2s;
}
@keyframes scroll-down {
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}