#home .main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
#home .about{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
#home .projects{
    min-height: 100vh;
    display: block;
}

#home .about-image{
    width: 70%;
}
#home .bar {
    width: 200px;
    height: 1px;
    background-color: #e3e3e3;
}