
#links .bar{
    height: 20vh;
    width: 1px;
    background-color: var(--text-extra-dark);
}
#links .social{
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
#links .email{
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
#links .email-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}