
#links .bar{
    height: 20vh;
    width: 1px;
    background-color: #484848;
}
#links .social{
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
#links .email{
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
#links .email-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: all ease-in-out .3s;
    color: #484848 !important;
}
#links .email-text:hover{
    transform: translateY(-5px);
    color: #65187D !important;
}
#links .link{
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-size: 1.3rem;
    color: #484848;
}
#links .link:hover{
    transform: translateY(-5px);
    color: #65187D !important;
}