#contact{
    display: flex;
    align-items: center;
}
#contact .contact-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-items: center;
}
#contact .gmail-icon{
    height: 1.3rem;
    margin-right: 1rem;
}
#contact .social a{
    font-size: 1.4rem;
    color: var(--text-dark);
    margin: 0 1rem;
    cursor: pointer;
    transition: all ease-in .3s;
}
#contact .social a:hover{
    font-size: 1.4rem;
    color: var(--text-dark-hover);
    margin: 0 1rem;
    cursor: pointer;
}