#navbar{
    background-color: #fff;
}
#navbar .logo img{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    border: solid 1px var(--text-dark-muted);
}
#navbar{
    background-color: rgba(255,255,255,.9);
}
#navbar .nav-link{
    cursor: pointer;
    position: relative;
}
#navbar .nav-link span{
    color: var(--text-dark-hover);
}
#navbar .nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-dark);
    transition: all ease-in-out .3s;
}
#navbar .nav-link:hover:after{
    width: 100%;
}