@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    --primary-bg: linear-gradient(121deg, rgba(116, 223, 237, 1) 0%, rgba(142, 238, 238, 1) 50%, rgba(91, 200, 222, 1) 100%);
    --nav-bg:rgba(255,255,255,.96);

    --btn-boder: 3px solid #161616;

    --secondary-color: #acfff8;
    --tertiary-color: #FEC5BB;
    --figma-color:#F54E1C;
    --figma-border: 3px solid #F54E1C;
    --text-color: #161616;
    --text-sec-color: #414141;
    --btn-shadow: 0px 8px 24px rgba(0,0,0,.16);

    --lg-width:90%;
}
body{
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}

.btn{
    cursor: pointer;
    background: unset;
    border: none;
    font-weight: bold;
}
.btn-white{
    background-color: #FFF;
    color: var(--text-color);
    padding: 1.2rem 2.4rem;
    border-radius: 100rem;
    box-shadow: var(--btn-shadow);
}
.btn-outline{
    background: transparent;
    color: var(--text-color);
    border: var(--btn-boder);
    padding: 1rem 2.4rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all ease-in-out .4s;
}
.btn-outline::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    background:var(--text-color);
    transition: all ease-in-out .4s;
    border-radius: 50% 50% 0 0;
}
.btn-outline:hover{
    color: #FFF;
}
.btn-outline:hover::before{
    height: 200%;
}