:root{
    --text-dark: #2E2132;
    --text-extra-dark: #1c131f;
    --text-light: #fff;
    --primary: #6D2EBF;
}

h1,h2,h3,h4,h5,h6,p,a,button{
    color: var(--text-dark) !important;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
p{
    margin: 0;
}
.align-items-center{
    align-items: center;
}

/* BUTTONS */
.btn{
    transition: all ease-in-out .3s;
}

.btn-outline-dark{
    border: solid 1px #e3e3e3;
    background-color: none !important;
}
.btn-outline-dark:hover{
    color: var(--text-extra-dark) !important;
    border: solid 1px #999;
    background-color: transparent !important;
}
.btn-dark{
    color: #fff !important;
}
.btn-dark:hover{
    color: var(--text-extra-dark) !important;
    background-color: transparent !important;
}
/* SCROLL */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
   }
   ::-webkit-scrollbar-thumb {
    background: #bfb7c2;
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #9f98a1;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px transparent;
   }